.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.uppercase {
  text-transform: uppercase
}

.stock-header p{
  display: inline-flex;
  padding: 10px;
  margin: 0;
  border: 1px solid #eff1f4;
}

.stock-item p{
  display: inline-flex;
  padding: 10px;
  margin: 0;
  border: 1px solid #eff1f4;
}

.stock-name {
  width: 75px;
  text-transform: uppercase;
  text-align: center;
}

.stock-price {
  width: 75px;
}

.stock-last-update{
  width: 200px;
}

.stock-price.up{
  background-color: rgba(76, 175, 80, 0.1);
  color: #4caf50;
}

.stock-price.down{
  background-color: rgba(255, 101, 101, 0.1);
  color: #ff6565;
}